In [2]:
import pandas as pd

# Read Data into a DataFrame
<font size = "2">
This dataset has 9 columns or features. Features of interest to me are:
[coffee_type, rating, weight_formatted_to_grams].<br>
Furthermore, some rows have unspecified value for the weight column "not mentioned". For that reason, I set the padnas reader to recognize that string as NaN.
</font>

In [6]:
my_data = pd.read_csv("coffee-listings-from-all-walmart-stores.csv", 
                    na_values=["not mentioned", "", " "])

print("Columns are:")
for _ in my_data:
    print(" - ", _)
print("The length of dataset in terms of rows = ", len(my_data))

Columns are:
 -  title
 -  coffee_type
 -  rating
 -  reviews
 -  seller_name
 -  thumbnail
 -  price
 -  weight
 -  weight_formatted_to_gramms
The length of dataset in terms of rows =  1400

# Drop NaN rows, reset index
<font size = "2">
Dropping rows with NaN values reduces the number of rows from 1400 to 1014. However, the indices still show 1400 and will cause issues in teh long run. Thus, index will be reset.
</font>

In [49]:
def clean(data):
    cdata =  data.dropna()
    print(len(data) - len(cdata), "rows removed.\n")
    cdata.reset_index(inplace = True, drop = True)
    return cdata
my_data = clean(my_data)

386 rows removed.

# Get only three rows
<font size = "2">
The number of rows and corresponding index match. Now to remove uneeded columns we create a copy of my_data with only those columns. Below is the resulting DataFrame with which I'll be doing basic statiscal plotting and then classification + machine learning.
</font>

In [47]:
my_data = my_data[["coffee_type", "rating", "weight_formatted_to_gramms"]]
my_data

                     coffee_type  rating  weight_formatted_to_gramms
0                  classic roast     3.8                      1142.5
1            espresso,dark roast     4.7                       283.5
2     medium roast,classic roast     4.4                       734.3
3                  classic roast     4.7                      1360.8
4                  classic roast     4.2                       864.7
...                          ...     ...                         ...
1009     espresso,espresso roast     4.0                       510.3
1010                  dark roast     0.0                       283.5
1011         espresso,dark roast     0.0                       249.5
1012          arabica,dark roast     4.3                       340.2
1013        arabica,medium roast     4.5                       623.7

[1014 rows x 3 columns]

# Save cleaned data to a .csv
<font size = "2">
pandas creates an index for the saved file by default. To prevent having 2 index columns in future, this default behaviour is cancelled. 
</font>

In [50]:
my_data.to_csv("./coffeeCleaned.csv", index = False)